03-Software/images/vscode-1.59/*
03-Software/02-vscode.mdx
03-Software/images/python-3.9/*
03-Software/01-python.mdx
04-Programmieren-1/*
05-Netzwerke/001-Schichtenmodell/*
02-BYOD-Basics/*
!02-BYOD-Basics/_category_.json
05-Netzwerke/010-Begriffe/*
05-Netzwerke/003-Codierung/*
05-Netzwerke/004-Routing/*
05-Netzwerke/005-DNS/*
05-Netzwerke/090-Pruefung.md
05-Netzwerke/006-Sicherheit/*
Kryptologie/01-Lernziele.md
Kryptologie/02-Antike/*