02-BYOD-Basics/*
!02-BYOD-Basics/_category_.json
03-Texte/*
04-Programmieren-1/01-Algorithmen/*
04-Programmieren-1/02-Turtlegrafik/*
04-Programmieren-1/03-Python/*
05-Codierung/01-Zeichencodierung/*
04-Programmieren-1/00-Lernziele.md
04-Programmieren-1/04-Test/*
05-Codierung/02-Grafikformate/*
!05-Codierung/02-Grafikformate/_category_.json