02-BYOD-Basics/*
03-Texte/*
04-Programmieren-1/01-Algorithmen/*
04-Programmieren-1/02-Turtlegrafik/*
04-Programmieren-1/03-Python/*
05-Codierung/01-Zeichencodierung/*
04-Programmieren-1/00-Lernziele.md
04-Programmieren-1/04-Test/*
05-Codierung/02-Grafikformate/*
05-Codierung/03-Compression/*
Math/Taschenrechner/*
05-Codierung/04-Anwendungen/*
05-Codierung/00-Lernziele.md
Math/BlackBox/*
05-Codierung/04-Anwendungen/3d-druck/*
06-Big-Data/*
07-Netzwerke/01-Schichtenmodell/*
07-Netzwerke/00-Lernziele.md
07-Netzwerke/02-Routing/*
07-Netzwerke/010-Begriffe/*