.figure {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1em;
  width: fit-content;
  figcaption {
    font-style: italic;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 0.2em;
    line-height: 1em;
    margin-top: 0.5em;
  }
}

:globale .card__image {
  figure.figure {
    width: 100%;
  }
}