dl.dl {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1.2rem;
    grid-row-gap: 0.4rem;
    grid-auto-flow: row;
    margin-bottom: 1rem;
    dt {
        grid-column: 1;
        font-weight: bold;
        text-align:right;
        min-height: 1px;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        justify-content: end;
        align-items: start;
    }
    dd {
        grid-column: 2;
        overflow-x: auto;
        margin-left: 0px;
        overflow-y: hidden;
        display: inline-block;
    }
    dd + dd {
        margin-top: -0.4em;
    }
}

@media screen and (max-width: 620px) {
    dl.dl {    
        grid-template-columns: 1fr;
        dt {
            justify-content: left;
        }
        dd {
            grid-column: 1;
        }
    }
}