.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    .badge {
        color: var(--ifm-color-content);
    }
    &.overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(164, 166, 168, 0.536);
        cursor: pointer;
        border-radius: var(--ifm-alert-border-radius);
    }
}
