01-ICT-Grundlagen/*
03-Programmieren-1/00-Lernziele.md
02-BYOD/*
03-Programmieren-1/01-Algorithmen/*
03-Programmieren-1/02-Turtlegrafik/images/*
03-Programmieren-1/02-Turtlegrafik/001-intro.md
03-Programmieren-1/02-Turtlegrafik/_category_.json
03-Programmieren-1/02-Turtlegrafik/002-screen.md