html[data-theme='dark'] {
    .exercise {
        box-shadow: 0 5px 40px rgba(110, 110, 110, 0.2);
    }
}
.orderControl {
    display: flex;
    align-items: baseline;
    gap: 0.2em;
    .orderBadge {
        cursor: pointer;
        user-select: none;
        :global .badge {
            cursor: pointer;
            user-select: none;
        }
        .colBadge {
            --ifm-badge-background-color: var(--ifm-contrast-background-value);
        }
        &:hover {
            .faIcon {
                transform: scale(1.2);
            }
        }
    }
}
.faButton {
    align-self: center;
    cursor: pointer;
    margin-left: 0.2em;
    &:hover {
        transform: scale(1.2);
    }
}
.exercise {
    box-shadow: var(--ifm-blockquote-shadow);
    border-radius: 8px;
    margin-top: 0.5em;
    .base {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0.1em;
        margin-bottom: 0.2em;
        input {
            padding: 4px;
            width: 5em;
            flex-shrink: 1;
            flex-basis: 5em;
            font-family: inherit;
            border-radius: 8px;
            padding: 4px 5px;
            border: 1px solid var(--ifm-color-primary);
            // background: var(--ifm-color-emphasis-200);
        }
        .time {
            align-self: center;
            min-width: 5em;
            margin-left: 1em;
            user-select: none;
            cursor: pointer;
            font-family: monospace;
            font-size: small;
            &:hover {
                background-color: var(--ifm-color-emphasis-300);
            }
        }
        .controls {
            display: flex;
            justify-content: flex-end;
            .faButton {
                margin: 0 1em;
            }
            flex-basis: 150px;
        }
        .labels {
            .icon {
                cursor: pointer;
                align-self: center;
                margin-left: 0.1em;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
    .details {
        .timeSpans {
            padding-bottom: 1em;
            .timeSpan {
                display: flex;
                height: 0.6em;
                padding: 0.1em;
                .time {
                    position: relative;
                    background: var(--ifm-color-primary);
                    border-radius: 0.2em;
                    &.active {
                        background: var(--ifm-color-success);
                    }
                    &.tooLong {
                        background: var(--ifm-color-danger);
                    }
                    .timeText {
                        width: max-content;
                        font-size: 70%;
                        font-style: italic;
                        position: absolute;
                        right: calc(100% + 0.2em);
                        top: 0;
                        bottom: 0;
                        margin-top: auto;
                        margin-bottom: auto;
                        line-height: 0.6;
                    }
                }
                &:first-of-type {
                    .time {
                        .timeText {
                            left: calc(100% + 0.2em);
                            right: unset;
                        }
                    }
                }
            }
        }
    }
}
