:root {
    --r-background-color: #232a40;
}

.reveal img {
    border-radius: 8px;
    box-shadow: 4px 4px 25px #cccccc27;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

.reveal .full img {
    width: 85%;
}

.reveal .small img {
    height: 250px;
    width: unset;
}

.reveal p {
    text-align: left;
}

.reveal h3 {
    text-align: left;
}

.reveal h4 {
    text-align: left;
}

.reveal ul {
    display: block;
}

.reveal ol {
    display: block;
}

.reveal pre.code-wrapper {
    width: auto;
}

.reveal pre.code-wrapper>code.hljs {
    font-size: 26pt;
    width: 100%;
    line-height: initial;
}
