html[data-theme='dark'] {
    .container {
        .bit {
            &.on {
                color: black;
            }
        }
        .charHistory {
            table {
                background: var(--ifm-code-background);
            }
        }
        --ifm-heading-color: black;
    }
}
.cable {
    max-height: 400px;
}
.bit {
    background-color: white;
    display: block;
    text-align: center;
    border-radius: 4px;
    padding: 3px;
    width: 20px;
    line-height: 20px;
    min-height: 20px;
    &.off {
        background: black;
        color: white;
    }
}
.bitContainer {
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 10;
    .bit {
        transform: rotate(0deg);
    }
}
.svgContainer {
    position: relative;
    .out {
        textarea {
            width: 100%;
            height: fit-content;
        }
    }
}
.sentBits {
    display: flex;
    flex-wrap: wrap;
    gap: 0.1em 0;
    margin-top: 0.2em;
    .bit {
        font-size: 55%;
        width: 12px;
        height: 12px;
        padding: 0px;
        padding-bottom: 3px;
        &.first {
            margin-left: 0.8em;
        }
        &.processed {
            font-style: italic;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: 3px solid var(--ifm-color-warning);
            padding-bottom: 0;
            opacity: 0.5;
        }
    }
}
.octet {
    display: flex;
    width: 100%;
    overflow-x: auto;
    min-height: 26px;
    border-bottom: 1px solid var(--ifm-color-primary);
    border-left: 1px solid var(--ifm-color-primary);
    border-bottom-left-radius: 4px;
}

.charHistory {
    overflow: auto;
    max-height: 15em;
    margin-top: 0.5em;
    table {
        font-size: small;
        color: black;
        th {
            // font-weight: var(--ifm-font-weight-normal);
            padding: 2px;
            text-align: left;
        }
        td {
            padding: 2px;
        }
    }

    .ctrlBits {
        color: var(--ifm-color-danger);
    }
}
