.exercise {
    display: flex;

    input {
        padding: 4px;
        width: 5em;
        flex-shrink: 1;
        flex-basis: 5em;
        font-family: inherit;
    }
    .time {
        align-self: center;
        min-width: 6em;
    }
    .controls {
        display: flex;
        justify-content: flex-end;
        .faButton {
            margin: 0 1em;
        }
        flex-basis: 150px;
    }
    .faButton {
        align-self: center;
        cursor: pointer;
        margin-left: 0.2em;
        &:hover {
            transform: scale(1.2);
        }
    }
    .labels {
        .icon {
            cursor: pointer;
            align-self: center;
            margin-left: 0.1em;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
