:global .commentable {
    position: relative;
    --comment-color: #3578e5;
    // border: 1px dashed silver;
}

:global li>.commentable {
    >p {
        margin-bottom: 0;
    }
}
:global .no-comments .commentable {
    .comment-icon {
        display: none;
    }
    >div[nr] {
        display: none;
    }
}
:global .blog-list-page .commentable {
    .comment-wrapper {
        display: none;
    }
}


.commentIcon {
    position: absolute;
    right: -10px;
    top: -2px;
    width: 40px;
    height: 100%;
    border-color: var(--ifm-color-primary);
    font-size: 18px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    cursor: pointer;
    opacity: 0;
    // z-index: 99;

    &:hover {
        opacity: 0.6;
        transition: all;
        transition-duration: 1s;
    }

    &.loaded {
        opacity: 1;
        color: var(--comment-color);
    }

    .controls {
        position: relative;
        display: flex;
        gap: 8px;

        .delete {
            position: relative;

            .button {
                position: absolute;
                top: 0px;
                right: 0px;
                transform: translateY(70%);
                z-index: calc(var(--ifm-z-index-fixed) - 3);
            }
        }

        .colorPicker {
            .color {
                background: var(--comment-color);
                border: 2px solid var(--ifm-color-secondary);
                border-radius: var(--ifm-global-radius);
                width: 22px;
                height: 22px;
                margin-top: auto;
                margin-bottom: auto;

                &.red {
                    background: #fa383e;
                }

                &.orange {
                    background: #ffba00;
                }

                &.green {
                    background: #00a400;
                }

                &.yellow {
                    background: #fff700;
                }

                &.blue {
                    background: #3578e5;
                }

                &.active,
                &:hover {
                    border-color: var(--ifm-color-primary)
                }
            }

            :global .dropdown__menu {
                min-width: 2px;
                display: flex;
                right: 0;
                left: unset;
            }
        }

        &.active {
            background: var(--ifm-card-background-color);
            border-top-left-radius: 18px;
            border-bottom-left-radius: 18px;
            padding-left: 9px;
        }
    }
}

.comments {
    margin-top: calc(-0.5 * var(--ifm-spacing-vertical));
    margin-bottom: 0.8rem;

    .comment {
        margin-top: 0.2em;

        &:first-of-type {
            margin-top: 0.8rem;
        }

        :global .quill-editor-container {
            // background: rgba(152, 201, 237, 0.77);
            border-color: var(--comment-color);
        }
    }
}