:global .commentable {
    position: relative;
    // border: 1px dashed silver;
}

.commentIcon {
    position: absolute;
    right: -10px;
    top: -2px;
    width: 120px;
    height: 100%;
    border-color: var(--ifm-color-primary);
    font-size: 18px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    cursor: pointer;
    opacity: 0;

    &:hover {
        opacity: 0.6;
        transition: all;
        transition-duration: 1s;
    }

    &.loaded {
        opacity: 1;
        color: #3578e5;
    }

    .controls {
        position: relative;
        display: flex;
        gap: 8px;
        .delete {
            position: relative;
            .button {
                position: absolute;
                top: 0px;
                right: 0px;
                transform: translateY(70%);
                z-index: 999;
            }
        }
        &.active {
            background: var(--ifm-card-background-color);
            border-top-left-radius: 18px;
            border-bottom-left-radius: 18px;
            padding-left: 9px;
        }
    }
}
.comment {
    margin-top: calc(-0.5 * var(--ifm-spacing-vertical));
    margin-bottom: 0.8rem;

    :global .quill-editor-container {
        // background: rgba(152, 201, 237, 0.77);
        border-color: #3578e5;
    }
}