byod-basics/
!_category_.json
03-Software/images/vscode-1.59/
!
03-Software/02-vscode.mdx
03-Software/images/python-3.9/
!
03-Software/01-python.mdx
04-Programmieren-1/
!
Netzwerke/001-Schichtenmodell/
!