.blackBox {
    margin: 1em;
    display: flex;
    align-items: center;
    .box {
        font-size: 200%;
        padding: 1em;
        line-height: 0;
        margin: 0 2em;
        border: 2px solid var(--ifm-color-primary);
        border-radius: 8px;
        background-color: var(--ifm-color-contrast);
    }
    input {
        width: 6em;
        text-align: right;
    }
}
