html[data-theme='dark'] {
    figure.container {
        >img {
            background: var(--ifm-color-primary-contrast-foreground);
        }
    }    
}

figure.container {
    display: inline-block;
    position: relative;
    .bib {
        float: right;
        font-size: small;
        background-color: var(--ifm-background-color);
        color: var(--ifm-color-primary);
        border-radius: 8px;
        padding: 2px 4px;
        cursor: pointer;
        &:hover {
            background-color: var(--ifm-color-info-lightest);
            color: var(--ifm-color-primary);
        }
        &.visible {
            // background-color: var(--ifm-color-info-lightest);
            color: var(--ifm-color-success);
        }
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
    }
    figcaption {
        font-style: italic;
        > .details {
            display: flex;
            align-items: flex-end;
            justify-content: start;
            flex-wrap: wrap;
            gap: 1em;
        }
    }
    &.noMargins {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-end: 0;
        margin-inline-start: 0;
    }
}

