figure.container {
    position: relative;
    .bib {
        font-size: small;
        position: absolute;
        right: 2px;
        bottom: 2px;
        border: 1px solid var(--ifm-color-primary);
        background-color: var(--ifm-background-color);
        color: var(--ifm-color-primary);
        opacity: 0.3;
        border-radius: 8px;
        padding: 2px 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
    }
    > .details {
        display: inline-block;
        .badgeItem {
            margin-left: 8px;
            &:first-child {
                margin-left: 0px;
            }
        }
    }
    figcaption {
        font-style: italic;
    }
}

