/* stylelint-disable docusaurus/copyright-header */

html[data-theme="dark"] {
  table.ofi-table {
    > tbody > tr {
      &.holiday {
        background: #3a537a;
      }
      &.event {
        --table-background-color: var(--ifm-color-success-lightest);
        color:black;
      }
  
      &.test {
        --table-background-color: var(--ifm-color-warning-lightest);
        color:black;
      }
    }

    &.selectable > tbody > tr:hover {
      &.holiday {
          background: #6881aa;
      }
    }
  }
}

table.ofi-table {
  width: 100%;
  > thead > tr {
    background-color: var(--ifm-table-head-background);
  }
  > tbody > tr {
    --table-background-color: var(--ifm-table-background);
    background-color: var(--table-background-color);
    &.holiday {
      --table-background-color: #9abcf2;
    }

    &.event {
      --table-background-color: var(--ifm-color-success-lightest);
    }

    &.test {
      --table-background-color: var(--ifm-color-warning-lightest);
    }

    &.info {
      --table-background-color: var(--ifm-color-info-lightest);
    }
    &.currentWeek {
      border-left: 8px solid var(--ifm-color-warning-lighter);
    }
  }

  td,
  th {
    border: none;
  }

  &.selectable > tbody > tr:hover {
    --table-background-color: var(--ifm-hover-overlay);
    cursor: pointer;
    &.holiday {
      --table-background-color: #7793c0;
    }

    &.event {
      --table-background-color: var(--ifm-color-success-lighter);
    }

    &.test {
      --table-background-color: var(--ifm-color-warning-lighter);
    }

    &.info {
      --table-background-color: var(--ifm-color-info-lighter);
    }
  }

  &.collapsing {
    width: auto;
  }

  &.striped > tbody > tr:nth-child(even) {
    --table-background-color: var(--ifm-table-stripe-background);
  }

  &.celled {
    border: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
  }

  &.compact {
    font-size: x-small;

    td,
    th {
      padding: 6px; /* small size */
    }
  }

  &.tiny {
    td,
    th {
      padding: 2px;
    }
  }

  &.small {
    td,
    th {
      padding: 6px;
    }
  }

  &.normal {
    td,
    th {
      padding: 12px;
    }
  }

  &.large {
    td,
    th {
      padding: 16px;
    }
  }
}
