:global .hero__subtitle {
  color: black;
}
.image {
  background-image: url(/img/index/robot_thinking.jpg);
  background-size: contain;
  background-repeat: repeat-x;
  border-radius: var(--ifm-global-radius);
  padding: 0;
}
.color {
  display: flex;
  padding: 0.5em 0.5em;
  margin: 0.2em 0;
  box-shadow: var(--ifm-global-shadow-lw);
  border-radius: var(--ifm-global-radius);
  align-items: center;
  background-color: rgba(199, 199, 199, 0.425);
  .label {
    margin-right: 1em;
    color: black;
    padding: 0px 4px;
    width: 50px;
    white-space: nowrap;
  }
  .value {
    color: black;
    padding: 0px 4px;
    border-radius: 4px;
    margin-left: 1em;
    width: 50px;
  }
  .transformed {
    color: black;
    white-space: nowrap;
  }
  &.red {
    :global .rc-slider-track {
      background: red;
    }
    :global .rc-slider-handle {
      border-color: red;
    }
  }
  &.green {
    :global .rc-slider-track {
      background: green;
    }
    :global .rc-slider-handle {
      border-color: green;
    }
  }
  &.blue {
    :global .rc-slider-track {
      background: blue;
    }
    :global .rc-slider-handle {
      border-color: blue;
    }
  }
  &.alpha {
    :global .rc-slider-track {
      background: black;
    }
    :global .rc-slider-handle {
      border-color: black;
    }
  }
}