.strukto {
    font-size: var(--ifm-code-font-size);
    --size: 0.2em;
    --bordered-color: #ff79c6;
    .statement {
        transform: skew(-15deg);
        border-bottom: 1px;
        &+.step {
            border-top-width: 1px !important;
        }
    }
    .step {
        border: 1px solid var(--ifm-color-primary);
        &:not(:first-child) {
            border-top-width: 0px;
        }
        padding: var(--size);
        margin: 0;
    }
    .indent {
        padding: 0;
        padding-top: var(--size);
        padding-left: calc(max(3*var(--size), 3*0.5em));
        background: var(--ifm-color-primary-contrast-background);
        >.header {
            margin-left: calc(min(-2*var(--size), -2*0.5em));
        }
        .step {
            border-right-width: 0px;
            &:first-child {
                margin-top: var(--size);
            }
            &:last-child {
                border-bottom-width: 0px;
            }
        }
        .body {
            background: var(--ifm-background-color);
        }
    }
    .def {
        border-left: 0.4em solid var(--bordered-color);
        border-right: 0.4em solid var(--bordered-color);
        >.header {
            margin-left: calc(min(-2*var(--size), -2*0.5em) - 0.4em);
        }
    }
    .call {
        padding-left: calc(max(var(--size), 0.5em) + 0.4em);
        border-left: 1px solid var(--bordered-color);
        border-right: 1px solid var(--bordered-color);
    }

    .bordered {
        position: relative;
        &::after {
            content: '';
            width: 0;
            height: 100%;
            position: absolute;
            border-right: 1px solid var(--bordered-color);
            top: 0;
            right: 0.3em;
        }
        &::before {
            content: '';
            width: 0;
            height: 100%;
            position: absolute;
            border-left: 1px solid var(--bordered-color);

            top: 0;
            left: 0.3em;
        }
    }
}