
html[data-theme="dark"] {
    .container {
        background-color: var(--ifm-color-info-darkest);
    }
}

.container {
    margin-bottom: 1em;
    padding: 1rem 0.5rem;
    background: var(--ifm-color-info-lightest);
    border-radius: var(--ifm-global-radius);
    .input {
        display: block;
        width: 100%;
        margin-bottom: 0.5em;
        font-family: var(--ifm-font-family-monospace);
        font-size: var(--ifm-code-font-size);
    }
    label {
        margin-left: 1em;
    }
}