.container {
    padding: 1rem 0.5rem;
    background: var(--ifm-color-info-lightest);
    border-radius: var(--ifm-global-radius);
    .input {
        display: block;
        width: 100%;
        margin-bottom: 0.5em;
    }
    label {
        margin-left: 1em;
    }
}