
html[data-theme="dark"] {
    .container {
        background-color: var(--ifm-color-info-darkest);
    }
}

.container {
    padding: 1rem 0.5rem;
    margin-bottom: 1em;
    background: var(--ifm-color-info-lightest);
    border-radius: var(--ifm-global-radius);
    h4 {
        margin-bottom: 0.2em;
    }
    .stage {
        display: flex;
        align-items: center;
    }
    .result {
        display: flex;
        align-items: center;
        margin: 0.5em 0;
        max-width: 20em;
        .badge {
            margin-left: 0.2em;
        }
    }
    .digits {
        margin-left: 0.2em;
        margin-right: 0.2em;
        margin-bottom: 0.5em;
    }
    .copy {
        float: right;
    }
}