01-ICT-Grundlagen/*
03-Programmieren-1/00-Lernziele.md
02-BYOD/*
03-Programmieren-1/01-Algorithmen/*
03-Programmieren-1/02-Turtlegrafik/images/*
03-Programmieren-1/02-Turtlegrafik/001-intro.md
03-Programmieren-1/02-Turtlegrafik/002-screen.md
05-Texte/*
!05-Texte/04-Uebung.md
03-Programmieren-1/02-Turtlegrafik/003-repeat.md
03-Programmieren-1/02-Turtlegrafik/100-turtle-commands.md
03-Programmieren-1/02-Turtlegrafik/004-errors.md
03-Programmieren-1/02-Turtlegrafik/005-functions.md
03-Programmieren-1/02-Turtlegrafik/010-rekursion.md
03-Programmieren-1/02-Turtlegrafik/006-functions-params.md
03-Programmieren-1/05-PyGame/*
03-Programmieren-1/02-Turtlegrafik/007-variablen.md
03-Programmieren-1/02-Turtlegrafik/008-verzweigung.md
03-Programmieren-1/02-Turtlegrafik/009-while.md
03-Programmieren-1/03-gruefnisch.md
03-Programmieren-1/04-random-walk.md
03-Programmieren-1/images/*
03-Programmieren-1/10-repetition/*
03-Programmieren-1/05-weihnachten.md
03-Programmieren-1/02-Turtlegrafik/_category_.json
05-Texte/_category_.json