.navBadge {
    :global .badge {
        cursor: pointer;
        user-select: none;
    }
    .userBadge {
        --ifm-badge-background-color: var(--ifm-contrast-background-value);
    }
}

.badgeButton {
    cursor: pointer;
    user-select: none;
    --ifm-badge-background-color: var(--ifm-contrast-background-value);
    &:hover {
        --ifm-badge-background-color: var(--ifm-color-primary);
        color: var(--ifm-color-secondary);
    }
}

html[data-theme='dark'] {
    .badgeButton {
        color: white;
    }
}

.nameBadge {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 567px) {
    .nameBadge {
        max-width: 45px;
    }
}