.navBadge {
    :global .badge {
        cursor: pointer;
        user-select: none;
    }
    .userBadge {
        --ifm-badge-background-color: var(--ifm-contrast-background-value);
    }
}
.adminOptions {
    margin-right: 1em;
    .dropdown {
        right: -10px;
        left: unset;
        .showElement {
            user-select: none;
            cursor: pointer;
            padding: 3px;
            display: flex;
            align-items: center;
            .icon {
                margin-right: 0.2em;
            }
            &.active {
                .icon {
                    color: var(--ifm-color-success);
                }
            }
        }
    }
}

.badgeButton {
    cursor: pointer;
    user-select: none;
    --ifm-badge-background-color: var(--ifm-contrast-background-value);
    &:hover {
        --ifm-badge-background-color: var(--ifm-color-primary);
        color: var(--ifm-color-secondary);
        border-width: 0px;
    }
}

html[data-theme='dark'] {
    .badgeButton {
        color: white;
    }
}

.nameBadge {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 567px) {
    .nameBadge {
        max-width: 45px;
    }
}