01-Programmieren/01-Programmiersprachen/*
01-Programmieren/02-Infrastruktur/*
01-Programmieren/02-Infrastruktur/04-Python/*
01-Programmieren/02-Infrastruktur/03-Git-install/*
01-Programmieren/02-Infrastruktur/05-vscode/*
01-Programmieren/03-Turtle-Repetition/*
!01-Programmieren/03-Turtle-Repetition/800-python-scripts.md,051-art.md,052-xmas.md,050-repetition,index.md
01-Programmieren/10-NumTrip/*
!01-Programmieren/10-NumTrip/10-random-board.md
01-Programmieren/03-Turtle-Repetition/index.md
01-Programmieren/04-Python/*
01-Programmieren/05-Software-Engineering/*
01-Programmieren/02-Infrastruktur/20-Docusaurus/*
02-Netzwerke/*
!02-Netzwerke/10-TCP
10-IoT-Workshop/*
!10-IoT-Workshop/04-protokolle
02-Netzwerke/_category_.json