01-Programmieren/01-Programmiersprachen/*
01-Programmieren/02-Infrastruktur/*
01-Programmieren/02-Infrastruktur/04-Python/*
01-Programmieren/02-Infrastruktur/03-Git-install/*
01-Programmieren/02-Infrastruktur/05-vscode/*
01-Programmieren/03-Turtle-Repetition/*
!01-Programmieren/03-Turtle-Repetition/800-python-scripts.md,051-art.md,050-repetition.md,index.md
01-Programmieren/10-NumTrip/*
01-Programmieren/03-Turtle-Repetition/index.md