.pdfWrapper {
    max-width: 100%;
    width: 100%;
    height: max-content;
    &.overflowing {
        overflow-x: auto;
    }
    .doc {
        display: flex;
        justify-content: center;
        :global(.react-pdf__Page) {
            box-shadow: var(--ifm-global-shadow-lw);
        }
        position: relative;
        .download {
            position: absolute;
            right: 16px;
            bottom: 16px;
            opacity: 0.2;
        }
        &:hover {
            .download {
                opacity: 1;
            }
        }
    }
    .controls {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}