.state {
    display: flex;
    align-items: baseline;
    gap: 8px;
    cursor: pointer;

    .checkbox {
        font-size: 1.2rem;
        border-radius: var(--ifm-global-radius);
        padding: 0px 6px;
        &:hover {
            filter: brightness(0.85);
        }
    }

    margin-bottom: var(--ifm-paragraph-margin-bottom);
}

:global .admonition-aufgabe {
    position: relative;

    .state-component:not(.no-header) {
        position: absolute;
        top: 10px;
        left: 8px;
        margin-bottom: 0;
    }
}

.admin {
    border: solid 1px var(--ifm-color-primary);
    border-radius: 8px;
    padding: 4px;
    display: flex;
    height: 125px;
    overflow-x: auto;
    max-width: 100%;
    gap: 0.5em;
    &.summary {
        height: max-content;
    }
    .box {
        width: 1rem;
        margin-bottom: 4.2em;
        .state {
            font-size: 1rem;
            border-radius: 4px;
            cursor: pointer;
        }
        .nameWrapper {
            transform-origin: 0 0;
            transform: rotate(-90deg) translateY(-25%) translateX(-70px);
            .name {
                /* height: 80px; */
                width: 85px;
                text-overflow: clip;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        &.overviewBox {
            display: flex;
            gap: 0.1em;
            flex-direction: column;
            .state {
                margin-bottom: 0;
            }
            .nameWrapper {
                transform: rotate(90deg) translateY(-85%) translateX(5px);
            }
        }
    }
}